{% extends "base/base.html" %}
{% load static %}

{% block titulo %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/caps.css' %}">
{% endblock %}


{% block nav %}
<!-- <button class="btn button-sm" onclick="location.href='{% url 'index' %}'">Início</button> -->
<!-- <button class="btn btn-sm" onclick="history.back()">Voltar</button> -->
{% endblock %}




{% block main_content %}

<div class="main-layout nav">
    <!-- Barra lateral -->
    <div class="sidebar button_link nav">
        <button>
            <a href="#">Atendimentos Realizados</a>
        </button>
        <button>
            <a href="https://www.google.com.br" target="_blank">Encaminhamentos <span id="span_encaminhamentos">
                    {{ encaminhamentos }}</span></a>
        </button>
        <button>
            <a href="https://www.google.com.br">Notificações <span id="span_alert">{{ notificacao }}</span></a>
        </button>
        <button>
            <a href="{% url 'relatorios' %}">Relatórios</a>
        </button>
    </div>

    <!-- Conteúdo principal -->
    <div id="root-content">
        <h1>{{ title }} &#x2014; Usuário: {{ user.first_name }} {{ user.last_name }}</h1>
        <p>Bem-vindo a página da {{ title }}.</p>
        <p>Esta página contém informações relevantes sobre a {{ title }} e seus serviços.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.search }}
        </form>

        <input type="text" class="form-control-sm" placeholder="Nome ou CPF">
        <button class="btn btn-primary btn-sm">Pesquisar</button>
        <button class="btn btn-secondary btn-sm">Cadastrar</button>
        <p>Esta página contém informações relevantes sobre a {{ title }} e seus serviços.</p>
        <p>{% lorem 10 p %}</p>

    </div>
</div>
{% endblock %}