<div class="modal fade show" style="display:block; background:rgba(0,0,0,0.5);" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form hx-post="{% url 'sistema_justica:cadastro_vitima_submit' %}" hx-target="#modal-vitima"
                hx-swap="innerHTML">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Cadastrar Vítima</h5>
                    <button type="button" class="btn-close"
                        onclick="document.getElementById('modal-vitima').innerHTML = ''"></button>
                </div>
                <div class="modal-body">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        onclick="document.getElementById('modal-vitima').innerHTML = ''">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>