/* Flexbox OnePage Layout for index.html */

/* Definição de variáveis para as cores */
:root {
    --cor-base-lilas: #c8a2c8;
    /* Cor base lilás */
    --cor-lilas-claro: #f3e6f3;
    /* Tom claro de lilás */
    --cor-lilas-medio: #e6cce6;
    /* Tom médio de lilás */
    --cor-lilas-escuro: #5a3d5a;
    /* Tom escuro de lilás */
    --cor-hover-lilas: #b58fb5;
    /* Tom mais escuro de lilás para hover */
    --cor-branco: #ffffff;
    /* Branco */
    --cor-preto: #333333;
    /* Preto */
    --cor-preto-hover: #555555;
    /* Preto para hover */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: var(--cor-lilas-claro);
    /* Fundo lilás claro */
    color: var(--cor-preto);
    /* Texto preto */
}

section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os cartões se ajustem em várias linhas */
    gap: 10px;
    /* Espaçamento entre os cartões */
    justify-content: center;
    /* Centraliza os cartões */
    padding: 20px;
}

.cards-container .card {
    margin-bottom: 10px;
}

/* Estilo para os cartões */
.card {
    background-color: var(--cor-lilas-medio);
    /* Fundo lilás médio */
    color: var(--cor-preto);
    /* Texto preto */
    border: 1px solid var(--cor-lilas-escuro);
    /* Borda lilás escuro */
    border-radius: 20px;
    /* Arredonda os cantos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Adiciona sombra */
    padding: 20px;

    flex: 1 1 calc(33.333% - 40px);
    /* Cartões ocupam 1/3 da largura com espaçamento */
    max-width: 300px;
    /* Largura máxima */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito ao passar o mouse */
.card:hover {
    transform: translateY(-5px);
    /* Eleva o cartão */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    /* Aumenta a sombra */
}


/*Fixa o botão de topo no canto inferior direito */
#topo {
    position: fixed;
    right: 20px;
    /* Ajuste para afastar um pouco mais da borda */
    bottom: 20px;
    /* Ajuste para afastar um pouco mais da borda */
    z-index: 999;
    /* Garante que fique acima de outros elementos */
    cursor: pointer;
}


/* Responsividade para telas menores */
@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px);
        /* Cartões ocupam 50% da largura */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
        /* Cartões ocupam 100% da largura */
    }
}