/* estilo para a geração de graficos estatisticos */
:root {
    --cor-lilas-claro: #f3e6f3;
    --cor-branco: #ffffff;
    --cor-lilas-escuro: #5a3d5a;
    --cor-preto: #333333;
}

.dashboard {
    display: flex;
    flex-direction: column;
    /* Alinha os elementos verticalmente */
    gap: 20px;
    /* Adiciona espaçamento entre os elementos */
    padding: 20px;
    background-color: var(--cor-lilas-claro);
    color: var(--cor-preto);
}

.esconde_cima {
    /*Não funciona Verificar quando possível */
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.chart-container {
    position: relative;
    margin: 20px 0;
    padding: 20px;
    background-color: var(--cor-branco);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* max-width: 800px; */
    /* Define uma largura máxima */
}

.chart-container h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--cor-lilas-escuro);
}

canvas {
    max-width: 100%;
    height: auto;
}

.chart-container canvas {
    max-width: 80%;
    /* Reduz a largura máxima dos gráficos */
    height: 400px;
    /* Define uma altura fixa */
    margin: 0 auto;
    /* Centraliza os gráficos */
}

/* para legenda */
.chart-legend {
    margin-top: 10px;
    font-size: 12px;
}


/* Para mapas */
.chart-container #map {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    /* Centraliza o mapa */
    overflow: hidden;
    /* Garante que o conteúdo do mapa não extrapole */
}