{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}


{% block content %}
<nav class="top-nav">
    <ul class="menu">
        <li>
            <button>Fórum</button>
            <ul class="submenu">
                <li><button>Poder Judiciário</button></li>
                <li><button>Ministério Público</button></li>
                <li><button>Defensoria Pública</button></li>
            </ul>
        </li>
        <li>
            <button>Segurança Pública</button>
            <ul class="submenu">
                <li><button onclick="location.href='{% url 'seguranca_publica:militar' %}'">Polícia Militar</button>
                </li>
                <li><button onclick="location.href='#'">Polícia Civil</button></li>
                <li><button onclick="location.href='#'">Polícia Científica</button></li>
                <li><button onclick="location.href='{% url 'seguranca_publica:penal' %}'">Polícia Penal</button></li>
            </ul>
        </li>
        <li>
            <button>Município</button>
            <ul class="submenu">
                <li><button onclick="location.href='#'">Assistência Social</button></li>
                <li>
                    <button onclick="location.href='#'">Conselho Tutelar</button>
                </li>

            </ul>
        </li>
    </ul>
</nav>
<div class="main-layout">
    <!-- Barra lateral -->
    <aside class="sidebar button_link">
        <button>
            <a href="#">Atendimentos Realizados</a>
        </button>
        <button>
            <a href="https://www.google.com.br" target="_blank">Encaminhamentos <span id="span_encaminhamentos">
                    [{{ encaminhamentos }}]</span></a>
        </button>
        <button>
            <a href="https://www.google.com.br">Notificações <span id="span_alert">[{{ alert }}]</span></a>
        </button>
        <button>
            <a href="{% url 'relatorios' %}">Relatórios</a>
        </button>
    </aside>

    <!-- Conteúdo principal -->
    <div id="root-content">
        <h1>Aqui será inserido as informações pertinentes a cada instituição.</h1>
        <p>conforme selecionada cada instituição, as informações serão exibidas aqui.</p>
    </div>
</div>

{% endblock %}