{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}{{ title }}{% endblock %}

{% block nav %}

<ul class="menu">
    <li>
        <button onclick="location.href='{% url 'index' %}'">Início</button>
    </li>
    <li>
        <button>Sistema de Justiça</button>
        <ul class="submenu">
            <li><button onclick="location.href='{% url 'sistema_justica:poder_judiciario' %}'">Poder Judiciário</button>
            </li>
            <li><button onclick="location.href='{% url 'sistema_justica:ministerio_publico' %}'">Ministério
                    Público</button></li>
            <li><button onclick="location.href='{% url 'sistema_justica:defensoria_publica' %}'">Defensoria
                    Pública</button></li>
        </ul>
    </li>
    <li>
        <button>Segurança Pública</button>
        <ul class="submenu">
            <li><button onclick="location.href='{% url 'seguranca_publica:militar' %}'">Polícia Militar</button>
            </li>
            <li><button onclick="location.href='{% url 'seguranca_publica:civil' %}'">Polícia Civil</button></li>
            <li><button onclick="location.href='{% url 'seguranca_publica:cientifica' %}'">Polícia
                    Científica</button></li>
            <li><button onclick="location.href='{% url 'seguranca_publica:penal' %}'">Polícia Penal</button></li>
        </ul>
    </li>
    <li>
        <button>Órgãos municipais</button>
        <ul class="submenu">
            <li><button onclick="location.href='{% url 'municipio:creas' %}'">CREAS</button></li>
            <li>
                <button onclick="location.href='{% url 'municipio:conselho_tutelar' %}'">Conselho Tutelar</button>
            </li>
            <li><button onclick="location.href='{% url 'municipio:cras' %}'">CRAS</button></li>
            <li><button onclick="location.href='{% url 'municipio:caps' %}'">CAPS</button></li>
            <li><button onclick="location.href='#'">SECRETARIA DE SAÚDE</button></li>
            <li><button onclick="location.href='#'">HOSPITAIS???</button></li>


        </ul>
    </li>
</ul>

{% endblock %}


{% block main_content %}

<div class="main-layout nav">
    <!-- Barra lateral -->
    <aside class="sidebar button_link">
        <button>
            <a href="#">Atendimentos Realizados</a>
        </button>
        <button class="btn">
            <a href="#" target="_blank">Encaminhamentos <span class="badge badge-info" id="span_encaminhamentos">
                    {{ encaminhamentos }}</span></a>
        </button>
        <button>
            <a href="#">Notificações
                <span class="badge badge-danger" id="span_alert">{{ alert }}</span></a>
        </button>
        <button>
            <a href="{% url 'relatorios' %}">Relatórios</a>
        </button>
    </aside>

    <!-- Conteúdo principal -->
    <div id="root-content">
        <h1>Selecione a sua instituição.</h1>
        <p>conforme o usuário estiver habilitado serão exibidas as informações aqui.</p>
        <p>{% lorem 10 p %}</p>
    </div>
</div>

{% endblock %}