{% extends 'base/base.html' %}

{% block titulo %}{{ title }}{% endblock %}

{% block main_content %}
<main>
    <section>
        <h2>Aqui será incorporada a página inicial, onde será aberta; será do tipo 'one-page'</h2>
    </section>
    <div class="cards-container">
        <div class="card">
            <p>Poderemos incluir os impactos da plataforma, depoimentos anônimos, sugestões de livros/documentários</p>
        </div>
        <div class="card">
            <p>Portal de denúncias</p>
        </div>
        <div class="card">
            <p>Rede de apoio</p>
        </div>
        <div class="card">
            <p>Perguntas frequentes</p>
        </div>
        <div class="card">
            <p>Informações para contato</p>
        </div>
        <div class="card">
            <p>Editais do <a href="https://www.gov.br/mulheres/pt-br" target="_blank">Ministério das Mulheres</a></p>
            <p><a href="https://www.gov.br/mulheres/pt-br/acesso-a-informacao/editais-1" target="_blank">SAIBA MAIS</a>
            </p>
            </p>
        </div>
        <div class="card">
            <!-- <p><a href="{% url 'relatorios' %}">Dados Estatísticos</a></p> -->
            <button onclick="location.href='{% url 'relatorios' %}'">Dados Estatístico</button>
        </div>
    </div>
</main>
{% endblock %}