{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}{{ title }}{% endblock %}

{% block main_content %}
<main>
    <section>
        <h2>Aqui será incorporada a página inicial, onde será aberta; será do tipo 'one-page'</h2>
    </section>
    <div class="cards-container">
        <div class="card">
            <p style="text-align: center;"><img src="{% static 'img/logo1.png' %}" alt="logo" height="250" width="250">
            </p>
            <p>Poderemos incluir os impactos da plataforma, depoimentos anônimos, sugestões de livros/documentários</p>
            <p>{% lorem 3 p %}</p>
        </div>
        <div class="card">
            <p>Portal de denúncias</p>
            <p>{% lorem 3 p %}</p>
        </div>
        <div class="card">
            <p>Conheça os tipos de violência!</p>
            <p>Estão previsto cinco tipos de violência doméstica e familiar contra as mulheres - Capítulo II, art. 7º,
                incisos I, II, III:</p>
            <ul>
                <li>Violência Física</li>
                <li>Violência Psicológica</li>
                <li>Violência Sexual</li>
                <li>Violência Patrimonial</li>
                <li>Violência Moral</li>
            </ul>
            <a class="btn button_link" href="https://www.institutomariadapenha.org.br/lei-11340/tipos-de-violencia.html"
                target="_blank">SAIBA
                MAIS</a>
        </div>
        <div class="card">
            <p>Portal A VEZ DELAS</p>
            <p> Destinado a publicação de vagas de empregos</p>
            <p>{% lorem 3 p %}</p>
        </div>
        <div class="card">
            <p>Rede de apoio</p>
            <!-- Frase -->
            <div class="chart-container">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Somos exímimos construtores, filhos do sistema cartesiano. A dor humana virou estatística.
                        </p>
                        <footer class="blockquote-footer">Augusto<cite title="Título da fonte">Cury</cite>
                        </footer>

                        <p>Primeiro eles vieram atrás dos socialistas, e eu não me manifestei porque eu não era
                            socialista. <br>
                            Depois, vieram atrás dos sindicalistas, e eu não me manifestei porque eu não era
                            sindicalista. <br>
                            Depois, vieram atrás dos judeus, e eu não me manifestei porque eu não era judeu. <br>
                            Finalmente, vieram atrás de mim, e não havia ninguém para se manifestar por mim.</p>
                        <footer class="blockquote-footer">Martin <cite title="Título da fonte">Niemöller</cite>
                        </footer>

                        <p>A história do ovo e do bacon fala sobre envolvimento e comprometimento. Quando você come o
                            bacon, o
                            porco está comprometido, já que ele é o próprio. O ovo, você come e o envolvimento da
                            galinha é de
                            menos. Que por sua vez aproveitará o tempo livre para ciscar o chão e continuará a procurar
                            minhocas.</p>
                        <footer class="blockquote-footer">Mestre <cite title="Título da fonte">Ariévlis</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="card">
            <p><button class="btn btn-sm "
                    onclick="window.open('https://mpsc.mp.br/ouvidoria/mulher', '_blank')">Ouvidoria da Mulher
                    MPSC</button></p>
        </div>
        <div class="card">
            <p><button class="btn btn-sm "
                    onclick="window.open('https://www.pm.sc.gov.br/paginas/rede-catarina', '_blank')">Rede catarina
                    PMSC</button></p>
        </div>
        <div class="card">
            <p><button class="btn btn-sm " onclick="window.open('https://ovm.alesc.sc.gov.br/', '_blank')">Observatirio
                    da vilência contra a
                    muher catarinense</button></p>
            <p>{% lorem 3 p %}</p>
        </div>
        <div class="card">
            <p>Perguntas frequentes</p>
            <p>{% lorem 3 p %}</p>
        </div>
        <div class="card">
            <p>Informações para contato</p>
            <p>{% lorem 3 p %}</p>
        </div>
        <div class="card">
            <p>Editais do <a href="https://www.gov.br/mulheres/pt-br" target="_blank">Ministério das Mulheres</a></p>
            <p><a href="https://www.gov.br/mulheres/pt-br/acesso-a-informacao/editais-1" target="_blank">SAIBA MAIS</a>
            </p>
            </p>
        </div>
        <div class="card">
            <!-- <p><a href="{% url 'relatorios' %}">Dados Estatísticos</a></p> -->
            <button class="btn btn-sm" onclick="location.href='{% url 'relatorios' %}'">Dados
                Estatísticos</button>
        </div>
    </div>
</main>
{% endblock %}