{% extends 'base/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<main>
    <section>
        <h2>Aqui será incorporada a página inicial, onde será aberta</h2>
    </section>
    <div>
        <p>Poderemos incluir os impactos da plataforma, depoimentos anônimos, sugestões de livros/documentários</p>
        <p>Portal de denúncias</p>
        <p>Rede de apoio</p>
        <p>Perguntas frequentes</p>
        <p>Informações de contato</p>
    </div>
</main>
{% endblock %}