{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}Login{% endblock %}

{% block main_content %}
<div class="login-page">
    <!-- <div class="logo-container">

    </div> -->
    <div class="login-container">
        <!-- <h2>Login</h2> -->
        <img src="{% static 'img/logo1.png' %}" alt="Logo" class="logo" height="250px" width="250px">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="login-button">Entrar</button>
        </form>
        <p>
            <a href="{% url 'password_reset' %}" class="forgot-password-link">Esqueceu sua senha?</a>
        </p>

    </div>

</div>

{% endblock %}