{% extends "base/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}


{% block head %}

<link rel="stylesheet" href="{% static 'css/notificacoes.css' %}">
{% endblock %}



{% block main_content %}


<div id="root-content">
    <button class="bg-blue-500 text-white text-sm px-3 py-1 rounded-lg hover:bg-blue-600">Buscar Notificações</button>
    <h1>{{ description }}</h1>
    <ul>
        {% for notifi in notificacao %}
        <li>Notificação {{ notifi }}</li>
        {% empty %}
        <li>Nenhuma notificação encontrada {{ notifi }}.</li>
        {% endfor %}
    </ul>

    <!-- <p>{% lorem 20 p %}</p> -->
</div>

{% endblock %}