{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}{{ title }}{% endblock %}


{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css/index_style.css' %}"> -->
<link rel="icon" type="image/x-icon" href="{% static 'img/logo1.png' %}">
{% endblock %}

{% block main_content %}

<div class="container mt-5">
    <div class="card">
        {% if conteudo.imagem %}
        <img src="{{ conteudo.imagem.url }}" class="card-img-top" alt="{{ conteudo.titulo }}">
        {% endif %}
        <div class="card-body">
            <h3 class="card-title">{{ conteudo.titulo }}</h3>
            <p class="card-text">{{ conteudo.texto }}</p>
            <p class="text-muted">Por {{ conteudo.autor }} em {{ conteudo.data_publicacao }}</p>
            <a href="javascript:history.back()" class="btn btn-secondary mt-3">Voltar</a>
        </div>
    </div>
</div>

{% endblock %}