{% extends "base/base.html" %}
{% load static %}

{% block titulo %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<link rel="stylesheet" href="{% static 'css/relatorios_style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block main_content %}
<script src="{% static 'js/relatorios.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

<div class="dashboard">
    {% for x in quantidade_de_vitimas %}
    <h1 class="text-center">Painel Informativo Estatístico[{{ quantidade_de_vitimas }}]</h1>
    {% empty %}
    <h1 class="text-center">Painel Informativo Estatístico</h1>

    {% endfor %}


    <!-- Frase -->
    <div class="chart-container">
        <h2>Frases</h2>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Somos exímimos construtores, filhos do sistema cartesiano. A dor humana virou estatística.</p>
                <footer class="blockquote-footer">Augusto<cite title="Título da fonte">Cury</cite>
                </footer>

                <p>Primeiro eles vieram atrás dos socialistas, e eu não me manifestei porque eu não era socialista. <br>
                    Depois, vieram atrás dos sindicalistas, e eu não me manifestei porque eu não era sindicalista. <br>
                    Depois, vieram atrás dos judeus, e eu não me manifestei porque eu não era judeu. <br>
                    Finalmente, vieram atrás de mim, e não havia ninguém para se manifestar por mim.</p>
                <footer class="blockquote-footer">Martin <cite title="Título da fonte">Niemöller</cite>
                </footer>

                <p>A história do ovo e do bacon fala sobre envolvimento e comprometimento. Quando você come o bacon, o
                    porco está comprometido, já que ele é o próprio. O ovo, você come e o envolvimento da galinha é de
                    menos. Que por sua vez aproveitará o tempo livre para ciscar o chão e continuará a procurar
                    minhocas.</p>
                <footer class="blockquote-footer">Mestre <cite title="Título da fonte">Ariévlis</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <!-- Filtros -->
    <div class="chart-container">
        <h2>Selecione o(s) Filtro(s)</h2>

        <select name="periodo" id="periodo" class="form-control-sm">
            <option value="">Período</option>
            {% for periodos in periodo %}
            <option value="{{ periodos }}">{{ periodos }}</option>
            {% endfor %}
        </select>

        <select name="comarca" id="comarca" class="form-control-sm">
            <option value="">Comarca</option>
            {% for comarca in comarcas %}
            <option value="{{ comarca }}">{{ comarca }}</option>
            {% endfor %}
        </select>
    </div>



    <!-- Gráfico de Rosca: Comarcas -->
    <div class="chart-container">
        <h2>Distribuição por Cidades</h2>

        <canvas id="cidadeChart"></canvas>
    </div>

    <!-- Gráfico de Rosca: Comarcas -->
    <div class="chart-container">
        <h2>Distribuição por Comarcas</h2>
        <p>A implementar</p>
        <p>Implementar comparação por período</p>
        <canvas id="comarcaChart"></canvas>
    </div>


    <!-- Gráfico de Barras: Idade -->
    <div class="chart-container">
        <div class="dropdown">
            <h2>Distribuição por Idade</h2>
        </div>
        <canvas id="idadeChart"></canvas>
        <div id="idade-legend" class="chart-legend"></div>
    </div>

    <!-- Gráfico de Barras: Tipo de violência -->
    <div class="chart-container">
        <h2>Tipo de violência</h2>
        <canvas id="violenciaChart"></canvas>
    </div>

    <!-- Gráfico de Barras: Etnia -->
    <div class="chart-container">
        <h2>Distribuição por Etnia</h2>
        <canvas id="etniaChart"></canvas>
    </div>

    <!-- Gráfico de Barras: Classe Econômica -->
    <div class="chart-container">
        <h2>Classe Econômica</h2>
        <canvas id="classeEconomicaChart"></canvas>
        <div id="classe-legend" class="chart-legend"></div>
    </div>

    <!-- Gráfico de Barras: Grau de instrução -->
    <div class="chart-container">
        <h2>Grau de Instrução</h2>
        <canvas id="grauInstrucaoChart"></canvas>
        <div id="grau-legend" class="chart-legend"></div>
    </div>

    <!-- Gráfico de Barras: Parentesco -->
    <div class="chart-container">
        <h2>Grau de parentesco do Agressor</h2>
        <canvas id="parentescoChart"></canvas>
    </div>

    <!-- Mapa Interativo -->
    <div class="chart-container">
        <h2>Comarca: <span id="comarca">{% if comarca %}{{ comarca }}{% else %}Todas{% endif %}</span></h2>
        <div id="map"></div>
    </div>


</div>

{% endblock %}

{% block script %}
{{ cidades|json_script:"cidades-data" }}

<!-- Script do Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{% static 'js/relatorios.js' %}"></script>
<script>
    // Função para gerar paleta de cores dinâmica utilizando HSL.
    function gerarCoresHSL(qtd) {
        const cores = [];
        const saturacao = 70; // Saturação em %
        const luminosidade = 50; // Luminosidade em %
        for (let i = 0; i < qtd; i++) {
            const matiz = Math.round((360 * i) / qtd);
            cores.push(`hsl(${matiz}, ${saturacao}%, ${luminosidade}%)`);
        }
        return cores;
    }



    // Dados passados pelo Django
    //const cidades = {{ cidades| safe }};
    const cidades = JSON.parse(document.getElementById('cidades-data').textContent);

    const idades = {{ idades| safe }};
    const etnias = {{ etnias| safe }};
    const violencia = {{ Tipos_de_Violência| safe }};
    const parentesco = {{ parentesco_do_agressor| safe }};
    const classeEconomica = {{ classeEconomica| safe }};
    const grauInstrucao = {{ grauInstrucao| safe }};
    const bairros = {{ bairros| safe }};

    // Inicializar o mapa
    const map = L.map('map').setView([-26.7220, -53.2033], 11); // Coordenadas de Maravilha/SC

    // TIPOS DE GRAFICO
    // bar -> 'Grafico de Barras'
    // doughnut -> 'Gráfico de Rosca'
    // line -> 'Gráfico de Linha'
    // pie -> 'Gráfico de Pizza'
    // radar -> 'Gráfico Radar'
    // polarArea -> 'Gráfico Polar'
    // bubble -> 'Gráfico de Bolhas'
    // scatter -> 'Gráfico de Dispersão'


    // Gráfico de rosca: Cidades
    const cidadeCtx = document.getElementById('cidadeChart').getContext('2d');
    new Chart(cidadeCtx, {
        type: 'doughnut',
        data: {
            labels: cidades.labels,
            datasets: [{
                label: 'Total',
                data: cidades.data,
                backgroundColor: gerarCoresHSL(cidades.data.length)
            }]
        },
    });


    // Gráfico de rosca: idade
    const idadeChart = document.getElementById('idadeChart').getContext('2d');
    new Chart(idadeChart, {
        type: 'bar',
        data: {
            labels: idades.labels,
            datasets: [{
                label: 'Total',
                data: idades.data,
                backgroundColor: gerarCoresHSL(idades.data.length)
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Casos de Violência'
                    }
                },
                x: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Anos'
                    }
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                tooltip: {
                    callbacks: {
                        label: function (tooltipItem) {
                            return tooltipItem.dataset.label + ': ' + tooltipItem.raw;
                        }
                    }
                }
            },
            responsive: true
        }
    });
    //Legendas para o gráfico de idade
    const idadeColors = gerarCoresHSL(idades.data.length);
    const idadeLabels = idades.labels;
    let idadeLegendHtml = '';
    idadeLabels.forEach((label, i) => {
        idadeLegendHtml += `<span style="display:inline-block;margin-right:15px;">
        <span style="display:inline-block;width:15px;height:15px;background:${idadeColors[i]};margin-right:5px;border-radius:3px;"></span>
        ${label}
    </span>`;
    });
    document.getElementById('idade-legend').innerHTML = idadeLegendHtml;

    // Gráfico de barras: grau de instrução
    const grauChart = document.getElementById('grauInstrucaoChart').getContext('2d');
    new Chart(grauChart, {
        type: 'bar',
        data: {
            labels: grauInstrucao.labels,
            datasets: [{
                label: 'Total',
                data: grauInstrucao.data,
                backgroundColor: gerarCoresHSL(grauInstrucao.data.length)
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Casos de Violência'
                    }
                },
                x: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Grau de Instrução'
                    }
                }
            },
            plugins: {
                legend: {
                    display: false,
                    position: 'right',
                },
                tooltip: {
                    callbacks: {
                        label: function (tooltipItem) {
                            return tooltipItem.dataset.label + ': ' + tooltipItem.raw;
                        }
                    }
                }
            },
            responsive: true,
        }
    });
    // Legenda do gráfico de grau de instrução
    const grauColors = gerarCoresHSL(grauInstrucao.data.length);
    const grauLabels = grauInstrucao.labels;

    let legendHtml = '';
    grauLabels.forEach((label, i) => {
        legendHtml += `<span style="display:inline-block;margin-right:15px;">
        <span style="display:inline-block;width:15px;height:15px;background:${grauColors[i]};margin-right:5px;border-radius:3px;"></span>
        ${label}
    </span>`;
    });
    document.getElementById('grau-legend').innerHTML = legendHtml;


    // Gráfico de rosca: Tipo de violência
    const violenciaChart = document.getElementById('violenciaChart').getContext('2d');
    new Chart(violenciaChart, {
        type: 'pie',
        data: {
            labels: violencia.labels,
            datasets: [{
                label: 'Total',
                data: violencia.data,
                backgroundColor: gerarCoresHSL(violencia.data.length)
            }]
        },
    });

    // Gráfico de rosca: Parentesco do Agressor
    const parentescoChart = document.getElementById('parentescoChart').getContext('2d');
    new Chart(parentescoChart, {
        type: 'pie',
        data: {
            labels: parentesco.labels,
            datasets: [{
                label: 'Total',
                data: parentesco.data,
                backgroundColor: gerarCoresHSL(parentesco.data.length)
            }]
        },
    });

    // Gráfico de Barras: Classe econômica
    const classeCtx = document.getElementById('classeEconomicaChart').getContext('2d');
    new Chart(classeCtx, {
        type: 'bar', // Mudando para gráfico de barras para categorias discretas
        data: {
            labels: classeEconomica.labels,
            datasets: [{
                label: 'Classe Econômica',
                data: classeEconomica.data,
                backgroundColor: gerarCoresHSL(classeEconomica.data.length)
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Casos de Violência'
                    }
                },
                // x: {
                //     title: {
                //         display: true,
                //         text: 'Classes Econômicas (Mensal)'
                //     }
                // }
            },
            plugins: {
                legend: {
                    display: false
                },
                tooltip: {
                    callbacks: {
                        label: function (tooltipItem) {
                            return tooltipItem.dataset.label + ': ' + tooltipItem.raw;
                        }
                    }
                }
            },
            responsive: true
        }
    });

    // Legenda do gráfico de Classe Econômica
    const classeColors = gerarCoresHSL(classeEconomica.data.length);
    const classeLabels = classeEconomica.labels;

    let classeLegendHtml = '';
    classeLabels.forEach((label, i) => {
        classeLegendHtml += `<span style="display:inline-block;margin-right:15px;">
        <span style="display:inline-block;width:15px;height:15px;background:${classeColors[i]};margin-right:5px;border-radius:3px;"></span>
        ${label}
    </span>`;
    });
    document.getElementById('classe-legend').innerHTML = classeLegendHtml;

    // Gráfico de Barras: Etnia
    const etniaCtx = document.getElementById('etniaChart').getContext('2d');
    new Chart(etniaCtx, {
        type: 'pie',
        data: {
            labels: etnias.labels,
            datasets: [{
                label: 'Distribuição por Etnia',
                data: etnias.data,
                backgroundColor: gerarCoresHSL(etnias.data.length)
            }]
        },
    });

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 20,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Garantir que o mapa respeite os limites do contêiner
    setTimeout(() => {
        map.invalidateSize();
    }, 1000);

    // Adicionar marcadores para os bairros
    bairros.forEach(bairro => {
        L.marker([bairro.lat, bairro.lng])
            .addTo(map)
            .bindPopup(`<b>${bairro.nome}</b><br>Casos: ${bairro.casos}`);
    });

</script>
{% endblock %}