"(...) O Professor bradou altissonante:
-Filhos do sistema Cartesiano ! (...) Ególatras! Poderão ser futuros juristas, mas com essa insensibilidade estarão
aptos pra conviver com leis, e não com seres humanos, estarão habilitados para defender ou acusar máquinas, mas não
mentes complexas. Discernem sons, mas não ideias e muito menos sentimentos. (...)
(...) O clima ficou pesado, mas o professor Júlio Verne, mostrando uma ousadia que perdera havia muito, explicou para a
classe o que era ser filho de um sistema Cartesiano .
-René Descartes, o filósofo Francês, exaltou solenemente a matemática e a posicionou como fonte das ciências. O sistema
cartesiano expandiu horizontes da física, química, engenharia, computação. Eis a consequência! - E apontou para seu
computador. os celulares dos alunos, a iluminação do ambiente, o sistema de som e a estrutura do edifício.

E depois de uma pausa o professor acrescentou, entristecido:
-A tecnologia está pulsando ao nosso redor. Mas o mesmo sistema lógico-matemático que nos faz exímios construtores de
produtos sequestrou nossa emoção, prostituiu nossa sensibilidade, asfixiou a maneira como encaramos e interpretamos o
sofrimento humano. (...)
Déborah, inquieta, disparou seu insight.
-Incrível. Tudo se tornou números frios.
-Sim, Déborah. A dor humana virou estatística.
Peter embasbacado, comentou:
- Cem morreram em ataques terroristas no mês passado. Mil morreram de câncer esta semana. Dois mil se suicidaram nesta
cidade no ultimo ano. Milhões estão desempregados no país. Secos números que não nos impactam mais! Quais foram suas
histórias, que crises atravessaram e que perdas sofreram? Quais os nomes dos mutilados na Segunda Grande Guerra? Pela
fome, por traumas, rajadas de bala? Que história eles possuíam? Que lágrimas choraram? Que medos abarcaram o psiquismo
deles enquanto se aproximavam do ultimo fôlego da existência?

(Trecho do livro O colecionador de lágrimas)
Augusto Cury